<div class="container" style="margin: 0 auto;">
  <form method="POST">
    <label id="hint">Account Login</label>
    <input name="email" placeholder="Email">
    <input name="password" placeholder="Password">
    <button type="submit">Sign in</button>
  </form>
</div>